<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Tracking Page</title>
    <style>
        table {
            width: 100%;
            margin: 0 auto; /* 表格居中 */
            text-align: center; 
            border-collapse: collapse;
        }
        th, td {
            padding: 10px; /* 增加表格内边距，增强可读性 */
            border: 1px solid #ddd; /* 表格边框样式 */
        }
        form {
            display: inline;
        }
    </style>
</head>
<body>
    <a href="/"><h1>COMP S350F - Group Project 39 - Order Tracking Page</h1></a>
    <% if (error) { %>
        <p style="color: red;" class="error-message">
            <%= error %>
        </p>
    <% } else if (success) { %>
        <p style="color: green;" class="success-message">
            <%= success %>
        </p>
    <% } %>
    <% if (orderTracking) { %>
        <h2>Your Order Tracking: <%= orderTracking.orderID %></h2>
        
            <table>
                <thead>
                    <tr>
                        <th>Order Status</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < orderTracking.orderStatus.length; i++) { %>
                        <tr>
                            <td><%= orderTracking.orderStatus[i].status %></td>
                            <td><%= orderTracking.orderStatus[i].updateTime %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table> 
    <% } else { %>
        <p>No order tracking information found.</p>
    <% } %>
    
</body>
</html>