<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        table {
            width: 100%;
            margin: 0 auto; /* 表格居中 */
            text-align: center; 
            border-collapse: collapse;
        }
        th, td {
            padding: 10px; /* 增加表格内边距，增强可读性 */
            border: 1px solid #ddd; /* 表格边框样式 */
        }
        form {
            display: inline;
        }
    </style>
</head>
<body>
    <a href="/"><h1>COMP S350F - Group Project 39 - Profile Page</h1></a>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <% if (success) { %>
        <p style="color: green;"><%= success %></p>
    <% } %>

    User ID: <%= user.userID %><br/>
    User Email: <%= user.userEmail %><br/>
    User Role: <%= user.userRole %><br/>
    User Name: <%= user.personalInfo.name ? user.personalInfo.name : 'Unset' %><br/>
    User Phone: <%= user.personalInfo.phone ? user.personalInfo.phone : 'Unset' %><br/>
    User Address: <%= user.personalInfo.address ? user.personalInfo.address : 'Unset' %><br/>
    Account Balance: $<%= accountBalance.balance %><br/>
    </table>

</body>
</html>